{% extends "main_login.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        {% if license_message %}
          <div class="alert alert-danger text-center" role="alert">
              {{ license_message }}
          </div>
        {% endif %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Login</h4>
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              {% if alert %}
                <p class="text-center mt-3" style="color:red"> {{ alert }}</p>
              {% endif %}
              <button type="submit" {% if license_status != "valid" %} disabled {% endif %} class="btn btn-primary d-block w-100">Login</button>
              <p class="text-center mt-3">To reset the account please contact the administrator.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}