{% for service in services %}
upstream {{ service.upstream }} {
    server {{ service.name }}:{{ service.port }}; # Use the service name and port defined in docker-compose.yml
}
{% endfor %}

server {
    # Redirect HTTP to HTTPS
    listen 80;
    server_name {{ domain_name }};

    return 301 https://$host$request_uri;
}

server {
    # Self-Signed Certificate is generated inside container
    listen 443 ssl;
    server_name {{ domain_name }};

    ssl_certificate /etc/nginx/ssl/signed.crt;
    ssl_certificate_key /etc/nginx/ssl/signed.key;

    location / {
        root /usr/share/nginx/html;
        try_files $uri /index.html;
    }

    {% for service in services %}
    location {{ service.path }} {
        proxy_pass {{ service.proxy_pass }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    {% endfor %}
}
