.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    background-color: #4a99f8;
}

.navbar .container-fluid span{
    color: #fff;
    font-weight: 900;
}

.navbar .container-fluid span:hover{
    color: #fff;
    font-weight: 900;
}

.navbar .container-fluid .navbar-brand img{
    vertical-align: top;
    background-color: #fff;
    border-radius: 20px;
}